@import "variables";

//flex-display 
@mixin flex-display{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
}

@mixin flex-direction-row{
    flex-direction:row;
    -ms-flex-direction: row;
    -webkit-flex-direction:row; 
}

@mixin flex-direction-column{
     flex-direction:column;
    -ms-flex-direction: column;
    -webkit-flex-direction:column; 
}