@import "variables";
@import "mixins";

:host{
    width: 100%;
    
     
}

.display-todo-main{
    margin: 1% 25% 0 25%;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(152, 166, 206, 0.45);
    padding-bottom: 1rem;
    
    

    .todo-display-info{
            display: flex;
            flex: 14;
        p{
            font-size: 22px;
            font-family: "Open Sans Condensed", sans-serif;
            font-weight: 100;
            color:#36438a;
        }
    }

    .todo-display-complete{
        display: flex;
        flex: 1;
        margin: auto;

        input[type="checkbox"]{
                width: 18px;
                height: 18px;
                transition: all 0.5s linear;
                border-radius: 50%;
                background: rgba(54, 67, 138, 0.83);
        }

        input[type="checkbox"]:checked{
            background: rgba(46, 204, 113, 0.81);
        }

        input[type="checkbox"]:focus{
            outline: 0 none;
            box-shadow: none;

        }
    }
}

