
@import "variables";
@import "mixins";


// targets the parent (ngular-2 method)
:host{
   
    width: 100%;
    @include flex-display();
    @include flex-direction-row();
}
h2{
    color: #545050;
    font-size: 35px;
    flex-flow:1;
    margin: 0 auto;
    margin-top:2%;

}
