
@import "variables";
@import "mixins";


// targets the parent (ngular-2 method)
:host{
   
   
}
.header-title{
    font-size: 35px;
    color:#36438a;
    margin-top:20px;
    font-family: $Bungee-font-family;
    //color:#55316f;

}
