@import "variables";
@import "mixins";

:host{
     @include flex-display;
     @include flex-direction-row;
     width: 100%;
     
}
.todu-main{
        width: inherit;
        // border: 1px solid #545050;
        margin:5% 10%;
        
    .flex-column{
        @include flex-display;
        @include flex-direction-column;
    }
}

